<!--
=====================================================
PROJETO: MercaSys
ARQUIVO: base.html
STATUS: EM DESENVOLVIMENTO
ÚLTIMA ALTERAÇÃO: 27/05/2026
=====================================================

OBJETIVO:
Template base principal do sistema.

FUNCIONALIDADES:
[✔] Estrutura HTML
[ ] Navbar
[ ] Sidebar
[ ] Responsividade

PRÓXIMOS PASSOS:
- Adicionar menu
- Adicionar Bootstrap
- Criar layout administrativo

=====================================================
-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MercaSys</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">

        {% block content %}

        {% endblock %}

    </div>

</body>
</html>